body, html {
	transition: background-color .13s;
	background-color: var(--background-color);
	font-family: var(--font-stack) !important;
}

body {
	padding-top: 56px;
	@media (max-width: 1024px) {
		padding-top: var(--app-margin-top);
	}
}

* {
	box-sizing: border-box;
}

:root {

	--background-color: #fafafa;
	--primary-color: #175854;
	--accent-color: #ffc730;

	--color--red: #ba090c;
	--color--orange: #ffc730;
	--color--green: #2fc10b;
	--color--blue: #2196f3;
	--color--grey: #707173;
	--color--light-grey: #a7a9ac;
	--color--dark-grey: #2e2f31;

	--font-stack: "Roboto Light", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

	--text-color-light-primary: hsla(0, 0%, 100%, .87);
	--text-color-light-secondary: hsla(0, 0%, 100%, .57);
	--text-color-light-bold: #fff;

	--text-color-dark-primary: #2e2f31;
	--text-color-dark-secondary: #a7a9ac;
	--text-color-dark-bold: #2e2f31;

	--box-shadow-lvl-1: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	--box-shadow-lvl-2: 0 5px 5px rgba(0, 0, 0, .16), 0 3px 3px rgba(0, 0, 0, .23);
	--box-shadow-lvl-3: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
	--box-shadow-lvl-4: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);

}


:global {

	*[transition=fadeIn] {
		opacity: 0;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
		animation-duration: .22s;
		animation-delay: 0;

		:local {
			animation-name: fadeIn;
		}
	}
	
	#main_component {
		height: calc(100vh - var(--app-margin-top));
	}

	a {
		text-decoration: none;
		color: inherit;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	i.material-icons {
		position: relative;
		top: 5px;
	}
}

@keyframes fadeIn {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
